{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Permissions partenaire{% endblock %}
{% block stylesheets %} 
  <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}"> 
{% endblock %}

{% block home %}<a href="/partner">Accueil</a>{% endblock %}
{% block h1 %}Permissions{% endblock %}

{% block main %}

{% endblock %}