{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Accueil manager{% endblock %}
{% block stylesheets %} 
  <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}"> 
{% endblock %}

{% block h1 %}Bienvenue{% endblock %}

{% block main %}
  <div class="main__item"><a href="/manager/info">Informations</a></div>
  <div class="main__item"><a href="/manager/permissions">Permissions</a></div>
  <div class="main__item"><a href="/manager/structure">Structure</a></div>
{% endblock %}
