{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}
{% block body %}
	<main>
    <div class="main__item"><a href="#">Créer un(e) partenaire/structure</a></div>
    <div class="main__item"><a href="#">Gérer les partenaires/structures</a></div>
    <div class="main__item"><a href="#">Gérer les permissions</a></div>
  </main>
{% endblock %}

