{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Accueil admin{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block h1 %}Bienvenue{% endblock %}

{% block main %}
  <div class="main__item"><a href="/admin/register/user">Créer un utilisateur</a></div>
  <div class="main__item"><a href="/admin/register/structure">Créer une structure</a></div>
  <div class="main__item"><a href="#">Gérer les partenaires/structures</a></div>
  <div class="main__item"><a href="#">Gérer les permissions</a></div>
{% endblock %}

