{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block stylesheets %}  {% endblock %}

{% block home %}<a href="/admin">Accueil</a>{% endblock %}
{% block h1 %}Inscription d'un nouvel utilisateur{% endblock %}

{% block main %}
  {{ form_start(form) }}
  {{ form_rest(form) }}
    <button type="submit">Valider l'inscription</button>
  {{ form_end(form) }}
{% endblock %}