@use 'reset';

$first-color: #043565;
$second-color: #ffaf1b;
$third-color: #8BD8BD;
$four-color: #000000;

.main__item {
  background-color: $third-color;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem $four-color;
  font-size: 1rem;
  text-align: center;
  margin: 3rem 1rem 3rem 1rem;
  padding: 2rem 1rem 2rem 1rem;

  a:link {
    color: $first-color;
  }

  a:visited {
    color: $first-color;
  }
}