@use 'reset';

$first-color: #043565;
$second-color: #ffaf1b;
$third-color: #8BD8BD;
$four-color: #000000;

body {
  font-family: 'Noto Sans', sans-serif;
  color: $second-color;
}

a:link {
  color: $second-color;
  text-decoration: none;
}

a:visited {
  color: $second-color;
}

header {
  align-items: center;
  background-color: $first-color;
  display: flex;
  font-size: 2rem;
  height: 15rem;

  .header__item--home {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 3rem;
  }

  .header__item--welcome {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}