@use 'reset';

$first-color: #043565;
$second-color: #ffaf1b;
$third-color: #8BD8BD;
$four-color: #000000;

main {
  display: flex;
  justify-content: center;
}

table {
  background-color: $third-color;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem $four-color;
  color: $first-color;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 1rem 0rem 1rem;
  padding: 2rem;
  text-align: center;
}
tbody {
  td, th{
    border: 0.1rem solid $four-color;
  }
  td {
    font-weight: 400;
  }  
}

.form__input--button {
  left: 12rem;
  justify-items: end;

  button {
    background-color: $second-color;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem $four-color;
    color: $first-color;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem;
  }
}