<h1>Bonjour {{ user.name }}!</h1>

<p>Nous avons rajouté une permission sur votre compte. Il s'agit de la permission suivante : {{ permission.name }}. Vous pouvez la gérer directement via votre application web préférée à cette adresse https://lorange-bleue.herokuapp.com !</p>

<p>Nous vous souhaitons une excellente journée.</p>
<p>L'orange bleue</p>