<h1>Bonjour  {{ name }}!</h1>

<p>Suite à votre demande, des modifications ont été apportées. Vous pouvez-vous rendre sur votre compte afin de vérifier ces modifications.</p>
<p>
  Vous êtes un 
    {% if role == ["ROLE_PARTNER"] %}
      partenaire.
    {% elseif role == ["ROLE_ADMIN"] %}
      administrateur technique.
    {% else %}
      manager.
    {% endif %}
  {% for structure in structures %}
    {% if structure != "" %}
      Vous êtes rattaché à la structure {{ structure.name }}.
    {% endif %}
  {% endfor %}
  Vous pouvez vous rendre sur votre application à cette adresse https://lorange-bleue.herokuapp.com et vous connecter avec votre identifiant suivant : {{ mail }}. Votre mot de passe n'a pas été modifié. Si tel est le cas, veuillez nous contacter rapidement.
</p>
<p>Nous vous souhaitons une excellente journée.</p>
<p>L'orange bleue</p>